@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FBEAEB;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
}

li {
  border-radius: 12px;
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #7A2048;
  color: #fff;
  -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 20px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
    background-color: #4d132d;
    border-radius: 12px;
    transition: 0.4s ease;
}

.menu li {
  padding: 5px 14px;
}

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
} 

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    z-index: 99999;
}
  
  /* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    

    .logo {
        margin: 0;
        font-size: 14px;
        padding: 0;
    }

    .menu {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
    }

    .menu li:hover {
        border-radius: 12px;
        background-color: #4d132d;
        display: inline-block;
        transition: 0.4s ease;
    }

    .menu li + li {
        border-radius: 12px;
        margin-top: 12px;
        background-color: #7A2048;
    }

    input[type=checkbox]:checked ~ .menu {
        background-color: #7A2048;
        display: block;
        z-index: 99999;
    }

    .hamburger {
        display: block;
        padding: 0;
        margin: 0;
        margin-right: 5px;
        margin-bottom: 3px;
    }   
}

#map { 
  height: calc(100vh - 74.5px);
}

.leaflet-tile {
  filter: hue-rotate(90deg) !important;
}

.leaflet-container {
	background: #E2C4E8 !important;
}

#info {
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: fit-content;
  margin-top: -3vh;
  margin-left: -40vw;
  border: 1px solid #666;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  padding: 3vmax;
  color: white;
  display: flex;
  align-items: center;
  overflow-y: scroll;
}

.hidden {
  display: none !important;
}

.blur {
  background-blend-mode: overlay !important;
  filter: blur(5px);
}

a:visited{
  color: white;
}

#info a {
  color: white;
  text-decoration: underline;
}